---
import Container from './Container.astro';
import Logo from '../assets/logowhite.png';
import { FaTwitter, FaDiscord } from 'react-icons/fa';
---

<header class="header">
  <Container>
    <div class="header_content">
      <div class="logo_container">
        <img src={Logo} alt="logo"  />
      </div>
      <nav class="nav_items">
        <ul>
          <li class="nav-item explorar">
            <a href="#">play</a>
          </li>
          <li class="nav-item">
            <a href="https://docs.oilexplorar.xyz/" target="_blank">Docs</a>
          </li>
          <li class="nav-item social">
            <a href="https://twitter.com/oil_explorar" target="_blank"
              ><FaTwitter size="1.5rem" /></a
            >
          </li>
          <li class="nav-item social">
            <a href="#" target="_blank"><FaDiscord size="1.5rem" /></a
            >
          </li>
        </ul>
      </nav>
    </div>
  </Container>
</header>

<style>
  .header {
    padding: 12px 0;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #04121d;
    z-index: 4;
    display: flex;

  }

  .header .header_content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }

  .header_content .logo_container {
    display: flex;
    align-items: center;
  }

  .header_content .logo_container img {
    cursor: pointer;
    width: 150px;
  }

  .header_content .nav_items ul {
    display: flex;
    align-items: center;
    align-items: center;
  }

  .header_content .nav_items ul .nav-item {
    list-style: none;
    margin-left: 2rem;
  }

  .header_content .nav_items ul .nav-item:hover {
    color: #fff;
  }

  .header .nav-item a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'cinzel', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
  }


  @media screen and (max-width: 768px) {
    .nav-item {
      display: none;
    }

    .header_content .logo_container img {
      width: 120px;
    }
  }
</style>
