---
import Container from './Container.astro';
import Logo from '../assets/logowhite.png';
import { FaTwitter, FaDiscord } from 'react-icons/fa';
---

<header class="header">
  <Container>
    <div class="header_content">
      <div class="logo_container">
        <img src={Logo} alt="logo" width="150px" />
      </div>
      <nav class="nav_items">
        <ul>
          <li class="nav-item"><a href="#">Home</a></li>
          <li class="nav-item explorar">
            <a href="#">Explore</a>
          </li>
          <li class="nav-item"><a href="#">More</a></li>
          <li class="nav-item social">
            <a href="#"><FaTwitter size="1.5rem" /></a>
          </li>
          <li class="nav-item social">
            <a href="#"><FaDiscord size="1.5rem" /></a>
          </li>
        </ul>
      </nav>
    </div>
  </Container>
</header>

<style>
  .header {
    padding: 24px 0;
    height: 6rem;
    position: relative;
    z-index: 4;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
  }

  .header .header_content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }

  .header_content .logo_container {
    display: flex;
    align-items: center;
  }

  .header_content .logo_container img {
    cursor: pointer;
  }

  .header_content .nav_items ul {
    display: flex;
    align-items: center;
    align-items: center;
  }

  .header_content .nav_items ul .nav-item {
    list-style: none;
    margin-left: 2rem;
    border: 3px solid white;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .header_content .nav_items ul .nav-item:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }

  .header .nav-item a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'cinzel', serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* .header .nav-item .social {
    padding: 5px 12px;
    background-color: white;
  } */
</style>
