---
import Button from './Button.astro';
import Container from './Container.astro';
import Base from '../assets/base.webp';
---

<main class="hero">
  <div class="overlay">
    <div class="hero-content">
      <div class="text_content">
        <h2>Enter the</h2>
        <h1>World of <br /> Exploration</h1>
        <p>
          Become an Oil Magnate in a World of NFTs on Base <img
            src={Base}
            alt=""
          /> Blockchain.
        </p>
        <Button href="#">Start Exploring</Button>
      </div>
      <div class="image_content">
        <div class="animated-image"></div>
      </div>
    </div>
  </div>
</main>

<style>
  .hero {
    height: 110vh;
    width: 100%;
    background-image: linear-gradient(
      to right top,
      #04121d,
      #33304a,
      #754b6c,
      #ba6a79,
      #ef9677
    );

    margin-top: 5rem;
  }

  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
  }

  .hero-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    max-width: 1240px;
  }

  .hero-content .text_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    
  }

  .hero .image_content {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .animated-image {
    width: 100%;
    height: 100%;
    background-image: url('../assets/hero-image.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    animation: moveUpDown 5s linear infinite alternate;
  }

  .animated-image:hover {
    animation-play-state: paused;
  }

  @keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
  }

  .text_content h2 {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    font-family: 'cinzel', serif;
    /* color: white; */
    font-weight: 400;
  }

  .text_content h1 {
    font-size: 5rem;
    font-weight: 700;
    margin: 0;
    font-family: 'cinzel', serif;
    /* color: white; */
    font-weight: 800;
    text-align: left;
    line-height: 92px;
    margin-top: 10px;
  }

  .text_content p {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    font-family: 'cinzel', serif;

    font-weight: 400;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .text_content p img {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-bottom: -3px;
  }

  @media screen and (max-width: 992px) {
    .hero {
      height: 100vh;
    }
    .hero-content {
      flex-direction: column;
    }

    .hero-content .text_content {
      padding: 0 24px;
      margin-top: 40px;
      width: 100%;
      flex: 0;
    }

    .hero-content .text_content h2 {
      font-size: 1.5rem;
      line-height: 30px;
    }

    .hero-content .text_content h1 {
      font-size: 3rem;
      line-height: 60px;
    }

    .hero-content .text_content p {
      font-size: 1rem;
      line-height: 20px;
    }

    .hero .image_content {
      width: 100%;
      height: 100%;
    }

    .animated-image {
      width: 100%;
      height: 100%;
      background-size: contain;
      background-position: center;
    }
  }
</style>
